/// Color palette

$brand_primary: #0282f9;
$brand_secondary: rgba(2, 130, 249, 0.3);
$bg_secondary: #222;

$font_primary: #212121;
$font_primary_rgba: rgba(33,33,33,0.5);
$font_secondary: #fff;
$font_secondary_rgba: rgba(255,255,255,0.5);


/// Font style

$font_uppercase: uppercase;


/// Links

$link_primary: $brand_primary;
$link_secondary: $brand_secondary;


/// Container

$width_container: 70%;


/// Font size

$link_size: 0.75rem;


/// Paddings

$padding_row: 2rem 0rem;