///   COLORS   ///


/* Color Palette */ 
$brand_primary: #0282f9;
$brand_secondary: rgba('2, 130, 249, 0.5');

/* Font */
$font_primary: #212121;
$font_primary_rgba: rgba('33,33,33,0.5');
$font_secondary: #fff;
$font_secondary_rgba: rgba('255,255,255,0.5');

/* Background */
$footer_bg_secondary: #222;

/* Links */
$link_primary: $brand_primary;
$link_secondary: $brand_secondary;



///   DIMENSIONS   ///

/* Container Width */
$width_container: 70%;

/* Font */
$link_size: '0.75rem';

/* Paddings */
$padding_row: '2rem 0rem';